.book{
    display: inline-block;
    background-color: white;
    text-align: center;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
}

.bookTop{
    width: 100%;
    text-align: center;
}

.bookBottom{
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
    top: 108px;
}

.bookTitle{
    font-size: 22pt;
    font-weight: bold;
}

.bookAuthor{
    font-size: 12pt;
}

.bookPages{
    font-size: 13pt;
    padding-bottom: 3px;
}

#totalPages{
    padding-bottom: 15px;
}

.bookButton{
    width: 44px;
    height: 44px;
    margin: 0px;
    outline: none;
    border-radius: 22px;
    line-height: 0px;
    font-size: 12pt;
    color: white;
}

.bookBottomButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#editButton{
    background-color: rgb(76, 76, 153);
}

#plusButton{
    background-color: rgb(66, 145, 66);
}

#minusButton{
    background-color: rgb(177, 83, 83);
}
