@media (max-width: 839px) {
    nav {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 4;
        left: 0px;
        padding-right: 20px;
    }
    .navMobile {
        position: fixed;
        display: inline-block;
        top: 0px;
        width: 100%;
        height: 60px;
        background-color: #1A1A1A;
        box-shadow: 0px 4px 5px rgb(17, 17, 17);
        color: white;
        padding-left: 20px;
        z-index: 4;
    }
    .titleMobile {
        font-size: 20pt;
        height: 40px;
        line-height: 40px;
        border-left: 2px solid white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .listItem {
        width: 100%;
        min-width: 303px;
        min-height: 60px;
    }
    .listButton {
        height: 40px;
        font-weight: bold;
        padding-left: 12px;
        padding-right: 12px;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    #listRemoveButton {
        margin-right: 0px;
    }
    .contentBox {
        padding: 10px;
        padding-top: 70px;
    }
    .content {
        align-items: center;
        justify-content: center;
    }
    .addButton {
        right: 15px;
        transform: none;
    }
    .addButton:hover {
        transform: none;
        -webkit-transform: none;
    }
    .newBookTab {
        z-index: 7;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
        overflow-y: auto;
    }
    .giveDetail span {
        display: block;
        margin-bottom: 10px;
    }
    .giveDetail input {
        width: 100%;
    }
    .editBookTab {
        z-index: 7;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
        overflow-y: auto;
    }
    .editDetail span {
        display: block;
        margin-bottom: 10px;
    }
    .editDetail input {
        width: 100%;
    }
    .editBookButton {
        margin-bottom: 10px;
    }
    .emptyContainer {
        padding-right: 20px;
    }
    .menuButton {
        display: flex;
        background-color: #1A1A1A;
    }
    .menuButton .fas {
        color: white;
    }
    .readSwitch {
        position: relative;
        margin-bottom: 20px;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 100%;
    }
}