@media (max-width: 839px) {
    nav {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 12;
        left: 0px;
        padding-right: 20px;
    }
    .listItem {
        width: 100%;
        min-width: 303px;
        min-height: 60px;
    }
    .listButton {
        height: 40px;
        font-weight: bold;
        padding-left: 12px;
        padding-right: 12px;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    #listRemoveButton {
        margin-right: 0px;
    }
    .contentBox {
        padding-right: 30px;
    }
    .content {
        align-items: center;
        justify-content: center;
    }
    .addButton {
        right: 15px;
    }
    .addButton:hover {
        transform: none;
        -webkit-transform: none;
    }
    .newBookTab {
        z-index: 15;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
    }
    .giveDetail span {
        display: block;
        margin-bottom: 10px;
    }
    .editBookTab {
        z-index: 15;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
    }
    .editDetail span {
        display: block;
        margin-bottom: 10px;
    }
    .emptyContainer {
        padding-right: 20px;
    }
    .menuButton {
        display: flex;
        background-color: #1A1A1A;
    }
    .menuButton .fas {
        color: white;
    }
    .readSwitch {
        position: relative;
        margin-top: 20px;
        top: 0px;
        left: 0px;
        display: inline-block;
    }
}