html{
    min-width: 292px;
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

body{
    background-image: url("background1.jpg");
    background-size: cover;
    overflow: auto;
    height: 100%;
    width: 100%;
}

nav{
    display: inline-block;
    position: fixed;
    right: 0px;
    background-color: #1A1A1A;
    color: white;
    height: 100%;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    filter: drop-shadow(-2px 0px 4px rgb(27, 27, 27));
}

.title{
    font-size: 52pt;
    border-bottom: 2px solid white;
    user-select: none;
}

.list{
    border: 0px solid white;
    display: inline-block;
    height: 80%;
    width: 100%;
}

.listItem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 19px;
    width: 290px;
    min-height: 40px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    user-select: none;

}

.listButton{
    position: relative;
    right: 0px;
    top: 0px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.2s;
}

.listName{
    display: inline-block;
    position: relative;
    top:2px;
    width: 160px;
}

#listRemoveButton{
    background-color: rgb(177, 83, 83);
    margin-right: 10px;
}

#listRemoveButton:hover{
    background-color: rgb(119, 56, 56);
}

#listEditButton{
    background-color: rgb(76, 76, 153);
}

#listEditButton:hover{
    background-color: rgb(56, 56, 112);
}

.contentBox{
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-right: 330px;
}
.content{
    align-items: flex-end;
    justify-content: flex-start;
    border: 0px solid white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.addButton{
    position: fixed;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 60px;
    color: white;
    outline: none;
    border-radius: 25px;
    background-color: #1A1A1A;
    bottom: 15px;
    right: 315px;
    z-index: 3;
    transition-duration: 0.2s;
}

.addButton:hover{
    transform: scale(1.2);
}

.menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0);
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 80px;
    background-color: #1A1A1A;
    border-radius: 25px;
    transition-duration: 0.2s;
    z-index: 13;
    outline: none;
}

.menuButton img{
    width: 32px;
}

.emptyContainer{
    position: sticky;
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 300px;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.emptyTextContainer{
    margin-left: 50px;
    padding-left: 10px;
    border-left: 2px solid white;
}

#mainEmptyText{
    font-size:30pt;
    margin-bottom: 20px;
}

#subEmptyText{
    font-size: 15pt;
}


